*{
    margin: 0;
    padding: 0;
}

.title {

    text-align: center;
    margin-top: 1px;
    margin-bottom: 2.2%;
    font-size: xx-large;
}

.column {
    font-size: large;
    width:70%;
    column-count: 2;
    column-gap: 3.2%;
    column-rule: 1px;
    margin-left: 17%;
    margin-right: 25%;
}

#section-text {
    background: #eaeaea;
    color: #333;
    padding: 5vw;
    margin-bottom: 0.5px;

}

#section-card {
    background-color: #000000cd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10vw;
    margin-top: 1px;

}
.contain-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 1vw;
    height: 40vh;
    padding: 15%;
    

}



.card img {
    width: 20vw;
    height: 15vw;
    margin-top: 1px;
   
}

.title-card {
    font-size: X-large;
    justify-content: space-between;


}

.paragrahp-card {
    font-size: medium;
    
}

#section-C{
    background: #eaeaea83;
    padding: 5vw;

}

.titleH3{
    text-align: center;
    font-size: xx-large;
    margin-top: 2%;
    margin-bottom: 5%;
}

.Paragraph {
    margin-top: 2%;
    font-size: x-large;
}